/****** Script for SelectTopNRows command from SSMS  ******/
begin tran
UPDATE ul
      set ul.[ClaEmpleado]              =	uc.[ClaEmpleado]
      ,ul.[NombrePerfil]				=	uc.[NombrePerfil]
      ,ul.[NombreUsuario]				=	uc.[NombreUsuario]
      ,ul.[ApellidoPaterno]				=	uc.[ApellidoPaterno]
      ,ul.[ApellidoMaterno]				=	uc.[ApellidoMaterno]
      ,ul.[FechaNacimiento]				=	uc.[FechaNacimiento]
      ,ul.[Email]						=	uc.[Email]
      ,ul.[EmailAlterno]				=	uc.[EmailAlterno]
      ,ul.[LoginUserName]				=	uc.[LoginUserName]
      ,ul.[TelefonoCasa]				=	uc.[TelefonoCasa]
      ,ul.[TelefonoOficina]				=	uc.[TelefonoOficina]
      ,ul.[TelefonoCelular]				=	uc.[TelefonoCelular]
      ,ul.[Puesto]						=	uc.[Puesto]
      ,ul.[IdEmpleadoJefe]				=	uc.[IdEmpleadoJefe]
      ,ul.[ClaCrc]						=	uc.[ClaCrc]
      ,ul.[Dominio]						=	uc.[Dominio]
      ,ul.[Bloqueado]					=	uc.[Bloqueado]
      ,ul.[ClaUbicacionDefault]			=	uc.[ClaUbicacionDefault]
      ,ul.[Perfil]						=	uc.[Perfil]
      ,ul.[NombreModificable]			=	uc.[NombreModificable]
      ,ul.[AutenticacionActiveD]		=	uc.[AutenticacionActiveD]
      ,ul.[IntentosFallidosPrincipal]	=	uc.[IntentosFallidosPrincipal]
      ,ul.[FechaUltIntentoPrincipal]	=	uc.[FechaUltIntentoPrincipal]
      ,ul.[DispositivoMovil]			=	uc.[DispositivoMovil]
      ,ul.[BajaLogica]					=	uc.[BajaLogica]
      ,ul.[FechaBajaLogica]				=	uc.[FechaBajaLogica]
      ,ul.[FechaIns]					=	uc.[FechaIns]
      ,ul.[ClaUsuarioIns]				=	uc.[ClaUsuarioIns]
      ,ul.[FechaUltimaMod]				=	uc.[FechaUltimaMod]
      ,ul.[ClaUsuarioMod]				=	uc.[ClaUsuarioMod]
      ,ul.[NombrePcMod]					=	uc.[NombrePcMod]
      ,ul.[ClaPuesto]					=	uc.[ClaPuesto]
      ,ul.[BajaNomina]					=	uc.[BajaNomina]
      ,ul.[Rfc]							=	uc.[Rfc]
      ,ul.[ClaIdiomaDefault]			=	uc.[ClaIdiomaDefault]
  FROM TiCentral.[TiSeguridad].[dbo].[TiTraUsuario] uc
  join [TiSeguridad].[dbo].[TiTraUsuario] ul
	on uc.IdUsuario=ul.IdUsuario
  where uc.ClaUbicacionDefault=68 


 insert into [TiSeguridad].[dbo].[TiTraUsuario]
SELECT [IdUsuario]
      ,[ClaEmpleado]
      ,[NombrePerfil]
      ,[NombreUsuario]
      ,[ApellidoPaterno]
      ,[ApellidoMaterno]
      ,[FechaNacimiento]
      ,[Email]
      ,[EmailAlterno]
      ,[LoginUserName]
      ,[TelefonoCasa]
      ,[TelefonoOficina]
      ,[TelefonoCelular]
      ,[Puesto]
      ,[IdEmpleadoJefe]
      ,[ClaCrc]
      ,[Dominio]
      ,[Bloqueado]
      ,[ClaUbicacionDefault]
      ,[Perfil]
      ,[NombreModificable]
      ,[AutenticacionActiveD]
      ,[IntentosFallidosPrincipal]
      ,[FechaUltIntentoPrincipal]
      ,[DispositivoMovil]
      ,[BajaLogica]
      ,[FechaBajaLogica]
      ,[FechaIns]
      ,[ClaUsuarioIns]
      ,[FechaUltimaMod]
      ,[ClaUsuarioMod]
      ,[NombrePcMod]
      ,[ClaPuesto]
      ,[BajaNomina]
      ,[Rfc]
      ,[ClaIdiomaDefault]
  FROM TiCentral.[TiSeguridad].[dbo].[TiTraUsuario]
  WHERE IdUsuario NOT IN (SELECT [IdUsuario] FROM [TiSeguridad].[dbo].[TiTraUsuario])
  and ClaUbicacionDefault=68




  commit tran