html,
body,
body > div:first-child,
div#__next,
div#__next > div {
        height: 100%;
        width:  100%;
}

div#__next{
  display: flex;
}

.global_bg{
    
}

.global_bg a{

}

.global_bg a:hover{

}

.global_txt{

}
